body {
  font-family: 'Lato', sans-serif;
}

.aricka-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-top: 25px;
  float: left;
}

.header {
  height: 0px;
}

.header nav {
  display: inline-block;
  margin-top: 35px;
}

.header a {
  padding: 20px 20px 20px 20px;
  font-family: Lato;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.7px;
  color: #ffffff;
}

.header a:nth-of-type(4) {
  padding: 20px 0 20px 20px;
}

.intro {
  width: 675px;
  font-family: Lato;
  font-size: 64px;
  font-weight: 300;
  line-height: 1.22;
  text-align: left;
  color: #ffffff;
  padding: 200px 0;
}

.hero {
  background-image: url(/static/images/hero-image.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .hero {
    background: url(/static/images/hero-image@2x.png) no-repeat;
    background-size: 100% auto;
  }
}

.pink-btn {
  border-radius: 100px;
  background-color: #ff4162;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1.7px;
  color: #ffffff !important;
  padding: 15px 40px;
  cursor: pointer;
}

.headshot-cutout {
  margin-top: 50px;
  width: 559px;
  height: 500px;
  object-fit: contain;
}

.bio-header {
  font-family: Lato;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 75px;
  color: rgba(0, 0, 0, 0.87);
}

.bio a {
  color: #ff4162;
}

.bio .fa {
  width: 36px;
  height: 24px;
  font-size: 24px;
  color: #ff4162;
}

.social-nav {
  margin-top: 30px;
}

.connect {
  text-align: center;
  background-color: #212121;
  color: #ffffff;
  font-family: Lato;
  font-weight: 300;
  padding: 50px 0;
}

.connect-header {
  font-size: 48px;
  font-weight: 300;
}

.connect-blurb {
  margin-top: 30px;
  margin-bottom: 50px;
}

.portfolio-card {
  margin-bottom: 50px;
}

.portfolio-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.portfolio-title {
  margin-top: 25px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.portfolio-subtext {
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  color: #bdbdbd;
}

.portfolio {
  padding: 100px 0;
}

.portfolio h2 {
  margin: 50px 0;
  font-family: Lato;
  font-size: 48px;
  font-weight: 300;
}

.wider {
  padding: 15px 80px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #212121;
  font-size: 14px;
  color: #ffffff;
  line-height: 70px;
  font-weight: 300;
}
